{{>header}}
{{title}}
  <div class="jumbotron jumbotronImg">
            <h1 class="display-4">MONGO SCRAPER</h1>
            <p class="lead">Top NEWS STORIES, Click on the button to get top stories.</p>
            <p class="lead">
                
              <a class="btn btn-primary btn-lg" href="#" role="button">Scrape New Articles</a>
            </p>
          </div>