/* Navbar */
.navbar{
  font-size:1.3rem;
  font-family: 'Lora', serif;
}
.hd-brand{
  padding-left:25px;
  width:300px;
}

/* scrape styles */
.content {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
 -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
  box-shadow: 0px 1px 1px rgba(0,0,0,.35);
}
.rowalign{
  margin:0 auto;
}
h3{
  font-family: 'Oswald', sans-serif;
  padding: 5px;
  font-size: 1rem;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:14px;
  color: #333333;
  padding:5px;
}
.thumbnail{
  position: relative;
  padding: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid #9d9d9d;
  background-color: white;
}
.boxsize{
  width: 254px;
    height: 300px;
    margin: 10px;
}

/* buttons */
.btn{
  color:#FAFBFB;
}
.btnsm {
  line-height: 1.0;
  border-radius: 1px;
  font-size: 12px;
}
.thumbnail .btnpos{
  position: absolute;
  right:    0;
  bottom:   0;
}
.warning{ 
    color: #F6F6F6;
    background-color: #333333;
}
.btn-group{
  position: absolute;
  top:0;
  right:0px;
  display: -webkit-inline-box;
}
/* home page */
.jumbotronImg{
  background-image: url(../images/jumboimg.png);
  background-size: cover;
}
.jumbotron{
  border-radius: .1rem;
  padding: 8em;
}
h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1em;
  font-size: 4.5rem;
  color: #D4D8DC;
}
h2 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1em;
  font-size: 1.5rem;
  color: #5C718E;
}
/* Saved Styles */
.header{
  width:100%;
  height:35px;
  background-color:#D5D4D4;
}
.divarea{
  margin-top:10px;
  padding: 0;
  border:1px solid #9d9d9d;
}

/* Modal Elements */
.modal-content {
  width: 600px;
}
input, textarea, 
#prevnotes{
width: 540px;
}
textarea {
  font-family: Lora,serif;
  font-weight: 400;
  font-style: normal;
}
input, select, textarea {
  font-size: 14px;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  line-height: 18px;
  padding: 3px 6px!important;
}
input[type=text]{
display: inline-block;
  height: 30px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#prevnotes{
  background-color: #fff;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}





